.container{
    width: 70%;
    margin: auto;
    margin-block: 90px;
    display: flex;
    justify-content: space-between;
    /* background-color: #36c9c9; */

}

.piedra{
    width: 49%;
    overflow: hidden;
}

.piedra img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}