
.boxPrincipal{
    display: grid; 
    color: #47525c; 
    margin-top: 100px;
}

.contenedorPrincipal{
    width: 100%;
    padding-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    /* border: 1px solid green;    */
}

.container{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid blue; */

}

.containerInterno{
    width: 100%;
    display: flex;
    margin-top: 20px;
    /* border: 1px solid red; */
}

.titles{
    width: 30%;
}

.titles a{
    padding-left: 20px;
    font-family: inherit;
    font-size: 21px;
    font-weight: 500;
    color:  #265c9e;
    text-decoration-line: none;
    text-decoration-style: solid;
    display: block;
    font-style: initial;
    text-rendering: optimizelegibility;
    letter-spacing: 1px;
    line-height: 32px;
    font-stretch: ultra-condensed;


    /* border: 1px solid red; */

}

.description p, li{
    font-family: inherit;
    font-size: 16px;
    color: #47525c;
    font-weight: lighter;
    font-style: initial;
    text-rendering: optimizelegibility;
    letter-spacing: 1px;
    line-height: 28px;
    font-stretch: ultra-condensed;

    /* border: 1px solid red; */

}

.description{
    width: 75%;
    /* border: 1px solid red; */

}

.benefits{
    list-style: none;
    padding: 0;
    margin-left: 20px;
}

.benefits li{
    text-indent: -15px;
    padding-left: 15px;
}

.benefits li::before{
    content: "\2022"; /* Código Unicode para un círculo sólido, puedes cambiarlo por otros caracteres */

}

.tituloPrincipal{
    font-family: inherit;
    font-size: 55px;
    font-weight: bold;
    color:  #265c9e;
    font-stretch: ultra-condensed;
    letter-spacing: 1px;
    margin-block: 50px;

}

.titleDescription{
    font-family: inherit;
    color: #265c9e;
    font-size: 24px;
    font-stretch: ultra-condensed;
    letter-spacing: 1px;
}

.links{
    text-decoration: none;
}

/***********************************************************************************/
@media only screen and (max-width: 1000px) {
    
    .tituloPrincipal{
        margin: auto;
        margin-bottom: 30px;
        font-size: 39px;
    }
    .titles{
        display: none;
    }
    .container{
        width: 100%;
        display: grid
    }

    .description{
        margin: auto;
        width: 85%;
        height: auto;
    }
    .titleDescription{
        margin: auto;
        width: 90%;
    }
    .description p{
        margin: auto;
        width: 95%;
        height: auto;
    }
    

}