.container{
    position: relative;
    padding: 0;
    border: none;
    box-shadow: none;
    border-style: none;
    display: grid;
}


.imagePinc{
    width: 100%;
    height: 85%;
    overflow: hidden; /* Oculta el contenido que excede el contenedor */
    position: relative; /* Necesario para alinear correctamente el contenido */
    background-size: cover;
    background-repeat: no-repeat; /* Asegura que la imagen de fondo no se repita */  
}


.imagePinc::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 30%;

    background: #315d8b;
    background: linear-gradient(0deg,#315d8b 0%, #8ed3ec 120%);
    background: -webkit-linear-gradient(0deg,#315d8b 0%, #8ed3ec 120%);
    background: -moz-linear-gradient(0deg,#315d8b 0%, #8ed3ec 120%);
    z-index: 1; 
}

.imagePinc img{
    width: 100%; /* Asegura que la imagen ocupe todo el espacio disponible */
    height: 100%; /* Asegura que la imagen ocupe todo el espacio disponible */
    object-fit: cover; /* Recorta la imagen para ajustarla al contenedor */
    object-position: left; /* Centra la imagen dentro del contenedor */
    z-index: 2;
    opacity: 85%;
}

.resenaPrincipal{
    width: 78%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    z-index: 2;
    /* border: 1px solid red; */
}



.resenaPrincipal h1{
    color: white;
    font-family: inherit;
    font-size: 33px;
    font-weight: bold;
    font-stretch: ultra-expanded;
    text-align: center;
    line-height: 1.1;
    transform: scaleY(1.1);
}


.leyendaH4 {
    margin: auto;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(60, 93, 122, 0.8); Ajusta el último valor (0.5) para controlar la opacidad */
    /* opacity: 50%; */ /* No es necesario aplicar opacidad al contenedor */
    margin-block: 5%;
    border-radius: 3px;
}

.leyendaH4 h4 {
    color: white;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    font-stretch: ultra-expanded;
    vertical-align: top;
    text-align: center;
    text-wrap: balance;
    padding: 1%;
    letter-spacing: 1px;
}


.botontext{
    margin: auto;
    width: 35%;
    height: 45px;
    background-color: #0067b3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: inherit;
    font-weight: 700;
    border-radius: 60px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.5s;
}

.botontext:hover {
    background-color: #79b353;
}


.leyendaCarmeus {
    position: relative;
    margin: auto;
    margin-top: -50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 77%;
    padding: 15px;
  }
  
.grow { 
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#grow1{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
}
#grow2{
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#grow3{
    width: 0px;
}

.puntasBorder1{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-top: 4px solid #10497c;
    border-left: 4px solid #10497c;
}

.puntasBorder2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-bottom: 4px solid #10497c;
    border-right: 4px solid #10497c;
}

.logoCarmeus{
    width: 200px;
    height: 100px;
    overflow: hidden;
    padding: 40px;
    
}

.logoCarmeus img{
    width: 100%;
    height: 100%;
    object-fit: center;
    object-position: center;
}


.sectionCarmeus {
    margin: auto;
    width: 95%;
  
    display: flex;
    gap: 16px;
}
  
  .growCarmeus { 
    width: 40%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-weight: 500;
    font-size: 15px;
    text-wrap: balance;
    color: #323e48;
    background-color: #CFD2D3 ; 
}

.divCarmeus{
    width: 20%;
    overflow: hidden;

}
.divCarmeus img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.botonCarmeusInternational{
    display: none;

}


.titleProductos{
    margin: auto;
    margin-top: 50px;
    width: 77%;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: normal;
    opacity: 95%;
    
}

.productos {
    margin: auto;
    width: 78%;
    height: 500px;
  
    display: none;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    gap: 8px;
  }

  .titleResponsiveOtrosProductos{
    display: none;
  }

  .TabPanelResponsive{
    display: none;
  }

  .titleResponsiveOtrosSolucions{
    display: none;
  }

  .textResponsiveOtrosSolucions{
    display: none;
  }

  .botonTextos{
    display: none;
  }

  .imageContact{
    display: none;
  }

  #carruselContainer{
    width: 79%;
    margin: auto;
    margin-top: 30px;
  }
/* 
@media screen and (max-width: 1445px){
    .contenedorCards{
        display: flex;
        flex-wrap: wrap;
    }
    .tarjetasMargin{
        margin-bottom: 10px;
    }
} */


@media only screen and (max-width: 450px) {


    .imagePinc{
        height: 300%;    
    }
    .resenaPrincipal h1{
        font-size: 20px;
        margin-top: 80px;
    }
    .leyendaH4 {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .leyendaH4 h4 {
        font-size: 12px;
    }
    .botontext{
        margin-top: 40px;
        width: 95%;
        height: 40px;
    }
    
    .leyendaCarmeus {
        margin-top: 120%;
        /* border: 1px solid blue; */

    }
    .sectionCarmeus {
        display: grid;
    }
    #divCarmeus2{
        display: none;
    }
    .divCarmeus{
        margin: auto;
        width: 100%;
    }
    .growCarmeus{
        margin: auto;
        width: 100%;
        flex-grow: none;
        padding: 0;
        background-color: #fcfcfc;
        text-wrap: balance;
    }
    .botonCarmeusInternational{
        display: grid;
        background-color: #0067b3;
        color: white;
        height: 50px;
        padding: 10px;
        text-align: center;
        border-radius: 60px;
        font-size: 19px;
        cursor: pointer;
    
    }

    .titleProductos{ 
        display: none; 
        
    }
    .productos {
        margin: auto;
        width: 78%;
        height: 220px;
      
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        gap: 18px;
      }
      .productosDivs{
        background-color: #0067b3;
        color: white;
        padding: 15px;
        font-size: 23px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      #divdiferente{
        background-color: #10497c;
      }
      .flecha{
        float: right;
      }

      .tarjetasOcultar{
        display: none;
      }

      
      .titleResponsiveOtrosProductos{
        display: block;
        width: 78%;
        margin: auto;
        margin-top: 170px;
        font-size: 29px;
        line-height: 30px;
      }

      .TabPanelResponsive{
        display: block;
        width: 78%;
        margin: auto;
        margin-top: 20px;
      }

      .titleResponsiveOtrosSolucions{
        display: block;
        width: 78%;
        margin: auto;
        margin-top: 40px;
        font-size: 31px;
        text-wrap: balance;
        line-height: 30px;
        text-wrap: balance;
        color: #0067b3;
      }

      .textResponsiveOtrosSolucions{
        display: block;
        width: 78%;
        margin: auto;
        font-size: 15px;
      }

      .botonTextos{
        width: 80%;
        margin: auto;
        margin-top: 40px;
        display: grid;
        background-color: #0067b3;
        color: white;
        height: 20px;
        padding: 10px;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        font-size: 19px;
        cursor: pointer;
      }

      .imageContact{
        display: block;
        margin-top: 50px;
        width: 100%;
        height: 350px;
        background-color: #0067b3;
        overflow: hidden;
        position: relative;
      }
      .imageContact img{
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: center;
      }

      .imageContact::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 40%;
    
        background: #315d8b;
        background: linear-gradient(0deg,#315d8b 0%, #8ed3ec 120%);
        background: -webkit-linear-gradient(0deg,#315d8b 0%, #8ed3ec 120%);
        background: -moz-linear-gradient(0deg,#315d8b 0%, #8ed3ec 120%);
        z-index: 1; 
      }

      .botonContact{
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        margin: auto;
        margin-top: 40px;
        background-color: #0067b3;
        color: white;
        height: 20px;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        font-size: 19px;
        font-weight: 600;
        cursor: pointer;
        z-index: 2;
      }

      .textContact{
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        margin: auto;
        color: white;
        text-align: center;
        font-size: 32px;
        /* font-weight: 600; */
        line-height: 35px;
        z-index: 2;
      }
      
}

@media only screen and (min-width:451px) and (max-width:950px) {


    .imagePinc{
        height: 250%;
    
    }

    .resenaPrincipal h1{
        font-size: 29px;
        margin-block: 30px;
        margin-bottom: 90px;
    }
    .leyendaH4 {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .leyendaH4 h4 {
        font-size: 15px;
        text-wrap: balance;
    }
    .botontext{
        margin: auto;
        margin-top: 90px;
        width: 95%;
        height: 50px;
    }
    

    .leyendaCarmeus {
        margin-top: 90%;
        /* border: 1px solid blue; */

    }
    .sectionCarmeus {
        display: grid;
    }
    #divCarmeus2{
        display: none;
    }
    .divCarmeus{
        margin: auto;
        width: 100%;
    }
    .growCarmeus{
        margin: auto;
        width: 100%;
        flex-grow: none;
        padding: 0;
        background-color: #fcfcfc;
        text-wrap: balance;
    }


    .productos {
        margin: auto;
        width: 78%;
        height: 220px;
    
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        gap: 18px;
    }
    .productosDivs{
        background-color: #0067b3;
        color: white;
        padding: 15px;
        font-size: 23px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #divdiferente{
        background-color: #10497c;
    }
    .flecha{
        float: right;
  }

    .tarjetasOcultar{
        display: none;
    }
    .titleProductos{
        display: none;
    }



    .titleResponsiveOtrosProductos{
        display: block;
        width: 78%;
        margin: auto;
        margin-top: 170px;
        font-size: 29px;
        line-height: 30px;
      }

      .TabPanelResponsive{
        display: block;
        width: 78%;
        margin: auto;
        margin-top: 20px;
      }

      .titleResponsiveOtrosSolucions{
        display: block;
        width: 78%;
        margin: auto;
        margin-top: 40px;
        font-size: 31px;
        text-wrap: balance;
        line-height: 30px;
        text-wrap: balance;
        color: #0067b3;
      }

      .textResponsiveOtrosSolucions{
        display: block;
        width: 78%;
        margin: auto;
        font-size: 15px;
      }

      .botonTextos{
        width: 50%;
        margin: auto;
        margin-top: 40px;
        display: grid;
        background-color: #0067b3;
        color: white;
        height: 20px;
        padding: 10px;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        font-size: 19px;
        cursor: pointer;
      }

      .imageContact{
        display: block;
        margin-top: 50px;
        width: 100%;
        height: 550px;
        background-color: #0067b3;
        overflow: hidden;
        position: relative;
      }
      .imageContact img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .imageContact::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 40%;
    
        background: #315d8b;
        background: linear-gradient(0deg,#315d8b 0%, #8ed3ec 120%);
        background: -webkit-linear-gradient(0deg,#315d8b 0%, #8ed3ec 120%);
        background: -moz-linear-gradient(0deg,#315d8b 0%, #8ed3ec 120%);
        z-index: 1; 
      }

      .botonContact{
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        margin: auto;
        margin-top: 40px;
        background-color: white;
        color: #0067b3;
        height: 30px;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        font-size: 23px;
        font-weight: 600;
        cursor: pointer;
        z-index: 2;
      }

      .textContact{
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        margin: auto;
        color: white;
        text-align: center;
        font-size: 42px;
        font-weight: 600;
        line-height: 55px;
        z-index: 2;
      }
}

@media only screen and (min-width:950px) and (max-width:1200px) {

  .imagePinc{
    height: 100%;
  }

  .resenaPrincipal{
    margin-top: 30px;    /* border: 1px solid red; */
}
}

/* @media only screen and (min-width:641px) and (max-width:950px) {


    .imagePinc{
        height: 180%;
    
    }

    .resenaPrincipal h1{
        font-size: 35px;
        margin-block: 30px;
        margin-bottom: 100px;
    }
    .leyendaH4 {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .leyendaH4 h4 {
        font-size: 15px;
        text-wrap: balance;
    }
    .botontext{
        margin: auto;
        margin-top: 110px;
        width: 95%;
        height: 60px;
    }


    .leyendaCarmeus {
        margin-top: 90%;

    }
    .sectionCarmeus {
        display: grid;
    }
    #divCarmeus2{
        display: none;
    }
    .divCarmeus{
        margin: auto;
        width: 100%;
    }
    .growCarmeus{
        margin: auto;
        width: 100%;
        flex-grow: none;
        padding: 0;
        background-color: #fcfcfc;
        text-wrap: balance;
    }


    .productos {
        margin: auto;
        width: 78%;
        height: 220px;
    
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        gap: 18px;
    }
    .productosDivs{
        background-color: #0067b3;
        color: white;
        padding: 15px;
        font-size: 23px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #divdiferente{
        background-color: #10497c;
    }
    .flecha{
        float: right;
  }

    .tarjetasOcultar{
        display: none;
    }
    .titleProductos{
        display: none;
    }



    .titleResponsiveOtrosProductos{
        display: block;
        width: 78%;
        margin: auto;
        margin-top: 170px;
        font-size: 29px;
        line-height: 30px;
      }

      .TabPanelResponsive{
        display: block;
        width: 78%;
        margin: auto;
        margin-top: 20px;
      }

      .titleResponsiveOtrosSolucions{
        display: block;
        width: 78%;
        margin: auto;
        margin-top: 40px;
        font-size: 31px;
        text-wrap: balance;
        line-height: 30px;
        text-wrap: balance;
        color: #0067b3;
      }

      .textResponsiveOtrosSolucions{
        display: block;
        width: 78%;
        margin: auto;
        font-size: 15px;
      }

      .botonTextos{
        width: 80%;
        margin: auto;
        margin-top: 40px;
        display: grid;
        background-color: #0067b3;
        color: white;
        height: 20px;
        padding: 10px;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        font-size: 19px;
        cursor: pointer;
      }

    
} */