.container{
    width: 80%;
    margin: auto;
    margin-block: 90px;
    display: flex;
    justify-content: space-between;
    /* background-color: #36c9c9; */

}

.piedra{
    width: 47%;
    overflow: hidden;
    height: auto;
    border: 1px solid rgb(240, 232, 232);
}

.piedra img{
    width: 100%;
    object-fit: cover;

}