.contenedor{
    width: 80%;
    height: 160px;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 70px;
    /* border: 1px solid red; */

}

.conboxes{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    margin-top: 10px;

    /* border: 1px solid blue; */

}

.box1{
    width: 29%;
    height: 90%;
    background-color: #0067b3;
    /* background-color: #248dc1; */
    background-color: linear-gradient(90deg,#248dc1 0%, #559055 90%);
    background-color: -webkit-linear-gradient(90deg,#248dc1 0%, #559055 90%);
    background-color: -moz-linear-gradient(90deg,#248dc1 0%, #559055 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-inline-start: 30px; */
    border-radius: 2px;
    cursor: pointer;    
    transition: background-color 0.8s ease;
    text-decoration:  none;
}

.box2{
    width: 29%;
    height: 85%;
    background-color: #10497c;
    /* background-color: #248dc1; */
    background-color: linear-gradient(90deg,#248dc1 0%, #559055 90%);
    background-color: -webkit-linear-gradient(90deg,#248dc1 0%, #559055 90%);
    background-color: -moz-linear-gradient(90deg,#248dc1 0%, #559055 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-inline-start: 30px; */
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.8s ease;
    text-decoration:  none;


}
.box3{
    width: 29%;
    height: 85%;
    background-color: #0067b3;
    /* background-color: #248dc1; */
    background-color: linear-gradient(90deg,#248dc1 0%, #559055 90%);
    background-color: -webkit-linear-gradient(90deg,#248dc1 0%, #559055 90%);
    background-color: -moz-linear-gradient(90deg,#248dc1 0%, #559055 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-inline-start: 30px; */
    border-radius: px;
    cursor: pointer;
    transition: background-color 0.8s ease;
    text-decoration:  none;
    


}

.box1:hover, 
.box2:hover, 
.box3:hover {
    background-color: #61993b;
    background-color: linear-gradient(90deg,#61993b 0%, #307b81 150%);
    background-color: -webkit-linear-gradient(90deg,#61993b 0%, #307b81 150%);
    background-color: -moz-linear-gradient(90deg,#61993b 0%, #307b81 150%);
}