.container{
    width: 79%;
    height: 79%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 55px;
    /* border: 1px solid blue; */
}

.ContenedorTarjet1 img {
    transition: transform 1s;
}

.TextTarjet1 {
    transition: background 0.5s;

}

.ContenedorTarjet1:hover  img{
    transform: scale(1.05, 1.05);
}

.ContenedorTarjet1:hover  .TextTarjet1{
    background-color: #0067B3;
}



