.container{
    width: 100%;
    position: relative;
    font-family: inherit;
    margin-top: 100px;

}

.containerImg{
    width: 100%;
    height: 600px;
    background: #c2cfd8;
    background: linear-gradient(90deg,#c2cfd8 0%, #596e79 80%);
    background: -webkit-linear-gradient(90deg,#c2cfd8 0%, #596e79 80%);
    background: -moz-linear-gradient(90deg,#c2cfd8 0%, #596e79 80%);
    /* border: 1px solid blue; */

}

.imgLaboratorio{
    overflow: hidden;
    width: 30%;
    height: 450px;
    position: absolute;
    left: 65%;
    top: 50px;
    /* border: 1px solid blue; */
}

.imgLaboratorio img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    opacity: 50%;
    /* mix-blend-mode: lighten; */
}



.layout {
  width: 80%;
  height: 200px;
  /* border: 1px solid green; */

  display: flex;
  margin: auto;
  padding: 0;
  /* gap: 16px; */

}

.grow1 { 
    width: 33.33%;
    background-color: #8cbeaa;
    cursor: pointer;
}

.grow1:hover .MuiButton-root{
    background-color: #50882b;
    box-shadow: none;
    color: white;
}
.grow2 { 
    width: 33.33%;
    background-color: #748599;

}
.grow3 { 
    width: 33.33%;
    background-color: #b6cae2;

}

.titleGrow{
    width: 80%;
    margin-left: 35px;
    color: white;
}
.textGorw{
    width: 85%;
    margin-left: 35px;
    color: white;
    font-family: inherit;
    font-weight: lighter;
    font-size: 12px;

}

.boton12{
    margin-left: 35px;

}

#CalidadDeProcesos{
    position: absolute;
    top: 180px;
    left: 200px;
    font-size: 55px;
    font-family: inherit;
    line-height: 60px;

}
#CalidadDeProcesos1{
    position: absolute;
    top: 320px;
    left: 200px;
    font-size: 30px;
    font-family: inherit;
    line-height: 40px;
    margin-top: 10px;
}

.boton{
    width: 430px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 470px;
    left: 200px;
    z-index: 3;
    /* border: 1px solid green; */
  }

  

/* AQUI SIGUE LOS ESTILOS DE SUBCALIDAD */

.contenedor{
    width: 80%;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 90px;
    margin-bottom: 100px;
    /* border: 1px solid blue; */
}

.ContenedorTarjet1 img {
    opacity: 90%;
    transition: transform 1s;
}



.TextTarjet1 {
    transition: background 1s;

}

.ContenedorTarjet1:hover  img{
    transform: scale(1.05, 1.05);
}

.ContenedorTarjet1:hover  .TextTarjet1{
    background-color: forestgreen;
}

.list{
    list-style: none;
    padding: 0;
    margin-top: 15px;
    margin-left: 10px;
}

.list li{
    width: 90%;
    text-indent: -15px;
    padding-left: 15px;
    color: white;
    font-size: 100%;
    font-family: inherit;
    line-height: 22px;
}

.list li::before{
    content: "\2022";
    color: white; /* Código Unicode para un círculo sólido, puedes cambiarlo por otros caracteres */

}