.contenedor{
    height: 2400px;
    position: relative;

}

.images{
    position: absolute;
    top: 0;
    width: 100%;
}

.images img{
    width: 100%;
    opacity: 98%;
  
}

.formulario{
    position: absolute;
    top: 1000px;
    width: 1000px;
    height: 870px;
    /* background: #fafafa; */
    display: grid;
    border-radius: 5px;
    /* border: 1px solid red; */

}

.containerInput{
    margin: auto;
    width: 80%;
    display: grid;
    /* border: 1px solid blue; */

}

.lineInput{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    font-family: 'Oxygen', sans-serif;
    /* border: 1px solid blue; */

}

/* .inpuTextField{
    width: 1055%;
    margin-inline: 5px;
} */

.titles{
    position: absolute;
    top: 700px;
    left: 100px;
    margin-top: 150px;
    width: 560px;
    font-family: 'Oxygen', sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #394046;
    font-stretch: semi-condensed;
    letter-spacing: 1.5px;
}


.findoffice{
    position: absolute;
    top: 1050px;
    left: 1100px;
    width: 400px;
    height: 500px;
    color: #394046;
    background-color: rgb(214, 217, 226);
    border-radius: 5px;
    /* border: 1px solid blue; */
}

.boxes{
    margin: auto;
    margin-top: 30px;
    width: 80%;
    height: 80%;
    display: grid;
    /* border: 1px solid rgb(255, 0, 0); */
    
}

.buton{
    margin: auto;
    width: 50%;
    /* border: 1px solid rgb(255, 0, 0); */
}
.iconFone{
    margin: auto;
    width: 20%;
    font-size: 60px;
    
    /* border: 1px solid rgb(255, 0, 0); */
}

.oficinas{
    position: absolute;
    top: 1900px;
    width: 100%;
    height: 400px;
    margin-top: 100px;
    display: grid;align-items: center;
    
    background-color: rgb(214, 217, 226);
}

.ofiDiv{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #b3b0b0; */
}

.lineDivisor{
    margin: auto;
    width: 80%;
    height: 0;
    border-top: 0.1px solid #394046;
}