.contenedor{
    display: flexbox;
    position: relative;
    width: 100vw;
    margin-top: 100px;

}

.imagePinc{
    width: 100%;
    height: 600px;
    overflow: hidden; /* Oculta el contenido que excede el contenedor */
    position: relative; /* Necesario para alinear correctamente el contenido */
}

.imagePinc img{
    width: 100%; /* Asegura que la imagen ocupe todo el espacio disponible */
    height: 100%; /* Asegura que la imagen ocupe todo el espacio disponible */
    object-fit: cover; /* Recorta la imagen para ajustarla al contenedor */
    object-position: center center; /* Centra la imagen dentro del contenedor */
    opacity: 89%;
}

.cardText{
    position: absolute;
    display: grid;
    top: 530px;
    width: 450px;
    height: 500px;
    background-color: #265c9e;
    opacity: 90%;
    left: 27%;
    line-height: 30px;
    transform: translate(-50%, -50%);
}


.title1{
    margin: auto;
    margin-top: 40px;
    width: 80%;
    height: 130px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: inherit;
    font-size: 25px;
    font-weight: 500;
    color: white;
    font-stretch: semi-condensed;
    letter-spacing: 1.5px;
}

.textPrincipal{
    margin: auto;
    width: 80%;
    height: 230px;
    margin-bottom: 90px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;    
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    font-stretch: extra-condensed;
    letter-spacing: 1.5px;
    line-height: 25px;
}

.contenedorCards{
    margin: auto;
    margin-top: 300px;
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

.contenedorInforCard{
    width: 25%;
    height: 400px;
}

.contenedorInforCard:hover .textImagen{

    background-color: forestgreen;
}

.contenedorInforCard:hover .cuadroImageVacasPollos img{
    transform: scale(1.05, 1.05);
}


.contenedorInforCard2{
    width: 47%;
    height: 400px;
    overflow: hidden;
    position: relative;
    /* border: 1px solid blue; */

}

.cuadroImageVacasPollos{
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: relative;
    display: block;

}

.cuadroImage2{
    width: 100%; /* Ajusta según sea necesario */
    height: 100%; /* Ajusta según sea necesario */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: end;
}

.cuadroImageVacasPollos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 85%;
    transition: transform 1s;
    /* border-radius: 3px; */

}

.textImagenSuelo{
    font-family: 'Oxygen', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: white;
    font-stretch: extra-condensed;
    letter-spacing: 1.1px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.textImagen{
    width:100%x;
    height: 40%;
    background-color: #0063b4;
    display: flex;
    justify-content: start;
    align-items: end;
    /* border: 1px solid blue; */
    font-family: 'Oxygen', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    color: white;
    font-stretch: extra-condensed;
    letter-spacing: 1.5px;
    line-height: 25px;
    transition: background 0.7s;

}

.textImagen p{
    margin-left: 20px;
    /* border: 1px solid red; */
}


.cuadroImage2 {
    transition: transform 1s;
}

.cuadroImage2:hover {
    transform: scale(1.05, 1.05);
}

/* .sugarIndustry{
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 500px;
} */
.sugarIndustry {
    overflow: hidden; /* Oculta el contenido que excede el contenedor */
    position: relative; /* Necesario para alinear correctamente el contenido */
    width: 80%; /* Ajusta según sea necesario */
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 25%;
    background-size: cover;
    background-repeat: no-repeat; /* Asegura que la imagen de fondo no se repita */
    /* transition: transform 1s; */
  }
  

.sugarIndustry:hover img{
    transform: scale(1.05, 1.05);
}

  .sugarIndustry::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(70, 130, 180, 0.8));
    z-index: 1; /* Asegura que la capa esté sobre la imagen */
  }
  
  .sugarIndustry img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Recorta la imagen para ajustarla al contenedor */
    object-position: center center; /* Centra la imagen dentro del contenedor */
    z-index: 2; /* Asegura que la imagen esté sobre la capa de degradado */
    transition: transform 1s;
  }

  .textImagenAzucar{
    position: absolute;
    top: 500px;
    font-family: 'Oxygen', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    color: white;
    font-stretch: extra-condensed;
    letter-spacing: 1.1px;
    margin-left: 20px;
    margin-bottom: 30px;
    z-index: 3;
}

#tarjetOcultar{
    display: none;
}
/****************************************************************************/


@media only screen and (max-width:400px){

    #tarjetOcultar{
        display: block;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
    }
    .imagePinc{
        height: 400px;
        margin-bottom: 0;
    }
    .cardText{
        position: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        width: 100%;
        height: 470px;
        background-color: #265c9e;
        opacity: 100%;
        left: 0;
        transform: none;
    }
    .title1{
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 40px;
    }
    .textPrincipal{
        margin-top: 5px;
        font-size: 12px;

    }
    .contenedorCards{
        margin-top: 100px;
    }

}
/****************************************************************************/


@media only screen and (min-width:401px) and (max-width:650px){

    #tarjetOcultar{
        display: block;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
    }
    .imagePinc{
        height: 400px;
        margin-bottom: 0;
    }
    .cardText{
        position: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        width: 100%;
        height: 400px;
        background-color: #265c9e;
        opacity: 100%;
        left: 0;
        transform: none;
    }
    .title1{
        line-height: 30px;
        margin-top: 10;
        margin-bottom: 40px;
    }
    .textPrincipal{
        margin-top: 9px;
        font-size: 14px;

    }
    .contenedorCards{
        margin-top: 100px;
    }
}


/************************************************************/


@media only screen and (min-width:651px) and (max-width:950px){

    #tarjetOcultar{
        display: block;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
    }
    .imagePinc{
        height: 400px;
        margin-bottom: 0;
    }
    .cardText{
        position: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        width: 100%;
        height: 350px;
        background-color: #265c9e;
        opacity: 100%;
        left: 0;
        transform: none;
    }
    .title1{
        line-height: 30px;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .textPrincipal{
        margin-top: 9px;
        font-size: 18px;

    }
    .contenedorCards{
        margin-top: 100px;
    }
}

/*************************************************************************/

@media only screen and (max-width:800px){

    #tarjetOcultar{
        display: block;
    }

    .contenedorCards{
        width: 60%;
        height: auto;
        flex-direction: column;
    }

    .contenedorInforCard{
        width: 100%;
        height: 400px;
        margin-bottom: 70px;
        /* border-radius: 10px; */
    }

    .cuadroImageVacasPollos{
        height: 60%;
    }
    .textImagen{
        height: 30%;
    }
    .textImagen p{
        font-size: 22px;
        text-wrap: balance;
    }

    .contenedorInforCard2{
        display: none;
    
    }

    .sugarIndustry{
        display: none;
    }
}

/******************************************************************************/


@media only screen and (min-width:801px) and (max-width:1200px){

    #tarjetOcultar{
        display: block;
    }

    .contenedorCards{
        width: 60%;
        height: auto;
        flex-direction: column;
    }

    .contenedorInforCard{
        width: 100%;
        height: 600px;
        margin-bottom: 70px;
        /* border-radius: 10px; */
    }

    .cuadroImageVacasPollos{
        height: 60%;
    }
    .textImagen{
        height: 30%;
    }
    .textImagen p{
        font-size: 29px;
        text-wrap: balance;
    }

    .contenedorInforCard2{
        display: none;
    
    }

    .sugarIndustry{
        display: none;
    }
}