.contenedor{
    width: 70%;
    display: grid;
    margin: auto;
    color: #47525c;
}

.rango span{
    font-family: inherit;
    font-size: 16px;
    color: inherit;
    font-style: initial;
    text-rendering: optimizelegibility;
    letter-spacing: 1px;
    line-height: 28px;
    font-stretch: ultra-condensed;
    font-weight: lighter;
}

.formula{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    color: inherit;
    /* border: 1px solid red; */

}

.contenedor p, strong{
    font-family: inherit;
    font-size: 16px;
    color: inherit;
    font-style: initial;
    text-rendering: optimizelegibility;
    letter-spacing: 1px;
    line-height: 28px;
    font-stretch: ultra-condensed;
}


.especificaciones{
    display: grid;
}

.especificacionesTitle{
    font-family: inherit;
    font-size: 40px;
    font-weight: 500;
    color: inherit;
    font-stretch: semi-condensed;
    letter-spacing: 1.5px;
}

.resaltado{
    font-family: inherit;
    font-size: 16px;
    font-style: initial;
    text-rendering: optimizelegibility;
    letter-spacing: 1px;
    line-height: 28px;
    font-stretch: ultra-condensed;
    color: #265c9e;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.title{
    font-family: inherit;
    font-size: 40px;
    font-weight: 600;
    color: #265c9e;
    font-stretch: ultra-condensed;
    letter-spacing: 1px;
    line-height: 40px;
}


/***************************************************************************/

@media only screen and (max-width:1000px){
    .title{
        font-size: 30px;
    }
    .especificacionesTitle{
        font-size: 30px;
    }
}