
.Contenedor1 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100vw;
    height: 60px;
    max-width: 1800px;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid rgb(238, 6, 6); */
}
.Barra {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
}

.Logo img {
    cursor: pointer;
    width: 200px;
    /* border: 1px solid green; */   
}

.links:focus{
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    width: 60%;
    display: flex;
    justify-content: space-between;
    /* background-color: #333; */
    /* border: 1px solid red; */

  }

  .navreponse{
    width: 100%;
    height: 400px;
    margin: auto;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
  }
  .navreponse1{
    width: 90%;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #f9f9f9;
    margin-top: 50px;
    /* min-width: 160px; */
    /* box-shadow: 0px 8px 16px 0px rgba(226, 223, 223, 0.2); */
    z-index: 1;
  }

  .RioCal {
    background-color: #79b353;
    color: #ffff;
  }

  .Subtitle {
    color: #265c9e;
  }
  /* Links inside the navbar */
  .navbar a {
    /* float: left; */
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: medium;
    transition: background-color .5s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .navreponse a, .navreponse1 a {
    /* float: left; */
    font-size: 22px;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-weight: bolder; */
    transition: background-color .5s;
    cursor: pointer;
    border-radius: 5px;
  }
  


  /* The dropdown container */
  .dropdown {
    overflow: hidden;

    /* border: 1px solid red; */

  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: #265c9e;
    font-size: medium;
    transition: background-color .5s;
    cursor: pointer;
    /* margin: 0; Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navreponse a:hover, .navreponse1 a:hover, .navbar a:hover, .dropdown:hover .dropbtn {
    color: #ddd;
    background-color: #0063b4;
  }



  /* Dropdown content (hidden by default) */
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(226, 223, 223, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdownContent a {
    float: none;
    color: #265c9e;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    justify-content: center;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdownContent a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdownContent {
    display: block;
  }

  .iconmenu{
    width: 60px;
    height: 60px;
    background-color: #61993b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }

  .toggle_btn{
    display: none;
    color: #ffff;
    cursor: pointer;
  }

  .tarjetH{
    background: linear-gradient(to bottom right, blue, pink)
  }

  @media screen and (max-width: 1245px){

    .navbar {
      display: none;
    }
    .toggle_btn{
      display: block;
    }

    .Logo img{
      width: 220px;

    }
  }