.contenedor{
    display: flexbox;
    position: relative;
    width: 100vw;
    height: 1500px;
}

.imagePinc{
    width: 100%;
    height: 600px;
    overflow: hidden; /* Oculta el contenido que excede el contenedor */
    position: relative; /* Necesario para alinear correctamente el contenido */
}

.imagePinc img{
    width: 100%; /* Asegura que la imagen ocupe todo el espacio disponible */
    height: 100%; /* Asegura que la imagen ocupe todo el espacio disponible */
    object-fit: cover; /* Recorta la imagen para ajustarla al contenedor */
    object-position: center center; /* Centra la imagen dentro del contenedor */
    opacity: 89%;
}

.cardText{
    position: absolute;
    display: grid;
    top: 690px;
    width: 45%;
    height: 27%;
    background-color: forestgreen;
    opacity: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */

}

.title1{
    margin: auto;
    margin-top: 40px;
    width: 80%;
    height: 50%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: white;
    font-stretch: semi-condensed;
    letter-spacing: 1.5px;
}

.textPrincipal{
    margin: auto;
    width: 85%;
    height: 80%;
    margin-bottom: 50px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;    
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: white;
    font-stretch: extra-condensed;
    letter-spacing: 1.5px;
    line-height: 25px;
}

.contenedorCards{
    margin: auto;
    margin-top: 400px;
    width: 80%;
    height: 26%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

.contenedorInforCard{
    width: 25%;
}

.contenedorInforCard:hover .textImagen{
    background-color: forestgreen;
}

.contenedorInforCard:hover .cuadroImagepequeñas img{
    transform: scale(1.05, 1.05);
}


.contenedorInforCard2{
    width: 47%;
    overflow: hidden;
    position: relative;
    /* border: 1px solid blue; */

}

.cuadroImagepequeñas{
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;
    display: block;
    /* border: 1px solid blue; */


}

.cuadroImage2{
    width: 100%; /* Ajusta según sea necesario */
    height: 100%; /* Ajusta según sea necesario */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: end;
}

.cuadroImagepequeñas img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 85%;
    transition: transform 1s;
}

.textImagen2{
    font-family: 'Oxygen', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: white;
    font-stretch: extra-condensed;
    letter-spacing: 1.1px;
    margin-left: 20px;
    margin-bottom: 0px;
    z-index: 3;
}

.textImagen{
    width:100%x;
    height: 50%;
    background-color: #265c9e;
    display: flex;
    justify-content: start;
    align-items: end;
    /* border: 1px solid blue; */
    font-family: 'Oxygen', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: white;
    font-stretch: extra-condensed;
    letter-spacing: 1.5px;
    transition: background 0.7s;

}

.textImagen p{
    margin-left: 20px;
    line-height: 28px;

    /* border: 1px solid red; */
}


.cuadroImage2 {
    transition: transform 1s;
}

.cuadroImage2:hover {
    transform: scale(1.05, 1.05);
}

/* .imagenGrande{
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 500px;
} */